.header {
  display: flex;
  align-items: center;
  padding: 0.4rem 1.5rem 0.25rem;
  height: $header-height;

  &.non-index {
    border-bottom: 2px solid black;
  }
  .header-links {
    flex-grow: 1;
    display: flex;

    text-align: center;

    a {
      flex: 1 1 0px;
      text-decoration: none;
      font-family: "Quicksand", sans-serif;
      color: rgb(22, 22, 22);
      font-size: 2rem;
      text-transform: lowercase;
      &:hover {
        font-family: "Butler", sans-serif;
      }
    }
  }
}
