@font-face {
  font-family: "Butler";
  font-weight: 200;
  src: url("../fonts/Butler_Ultra_Light.otf") format("opentype");
}

@font-face {
  font-family: "Butler";
  font-weight: 300;
  src: url("../fonts/Butler_Light.otf") format("opentype");
}

@font-face {
  font-family: "Butler";
  font-weight: 400;
  src: url("../fonts/Butler_Regular.otf") format("opentype");
}

@font-face {
  font-family: "Butler";
  font-weight: 500;
  src: url("../fonts/Butler_Medium.otf") format("opentype");
}
