.contact-us-page {
  width: 100%;
  height: 100vh;
  background-color: #fff9e0;
  .contact-us-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    width: 120rem;
    padding: 0 1rem;

    .contact-us-grid-item {
      font-size: 2rem;
      font-family: "Quicksand", sans-serif;

      br {
        content: "A" !important;
        display: block !important;
        margin-bottom: 1em !important;
      }
    }
  }
}
