.contact-us-page {
  @include standardPage(#fff9e0);

  .contact-us-inner-page {
    height: calc(100% - #{$header-height} - #{$subheader-height});
    position: relative;
    .contact-us-grid {
      @include container;
      display: grid;
      grid-template-columns: 1fr 1fr;
      height: 100%;
      .contact-us-grid-container {
        position: relative;
        .contact-us-grid-item {
          position: absolute;
          top: 40%;
          transform: translateY(-40%);
          margin: auto;
          font-size: $contact-font-size;
          font-family: "Quicksand", sans-serif;

          a {
            font-weight: 600;
            color: black;
            text-decoration: none;
          }
        }
      }
    }
  }
}
