.title-screen-page {
  @include standardPage(#fff9e0);
  .title-name-holder {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    pointer-events: none;

    &.fade-enter {
      opacity: 0;
    }
    &.fade-enter-active {
      opacity: 1;
      transition: opacity 500ms;
    }
    &.fade-exit {
      opacity: 1;
    }
    &.fade-exit-active {
      opacity: 0;
      transition: opacity 500ms;
    }

    @media (max-width: 768px) {
      top: 50%;
    }
    z-index: 100;

    .title-header {
      font-size: 19vw;
      line-height: 1.1;
      font-family: "Butler", sans-serif;
      font-weight: 200;
      text-transform: uppercase;
      text-align: justify;
      transition: all 0.3s ease;
      &.hovered {
        color: $text-gold-color;
      }

      &.first-name {
        letter-spacing: 10px;
      }

      @media (max-width: 1024px) {
        &.first-name {
          letter-spacing: 6px;
        }
        font-weight: 300;
      }

      @media (max-height: 600px) {
        font-size: 30.5vh;
      }

      @media (max-width: 650px) {
        &.first-name {
          letter-spacing: 3px;
        }
        font-size: 21vw;
      }
    }
  }

  .margin-index-page {
    width: 100%;
    height: calc(100% - 2 * #{$header-height});

    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
  }
}
